*{
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

:root {
    --cyan: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}
.text-cyan{
    color: var(--cyan);
}


/* navbar */
.navbar-brand:hover{
    color: var(--cyan);
}
.nav-link{
    font-weight: bold;
}
.nav-link:hover{
    color: var(--cyan);
}

.btn-outline-success{
    --bs-btn-color: var(--light);
    --bs-btn-bg: var(--cyan);
    --bs-btn-border-color: var(--cyan);
    --bs-btn-border-radius: none;

    --bs-btn-line-height: 2.5;
    --bs-btn-font-weight: bold;
    
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #06bbccc8;
    --bs-btn-hover-border-color:  #06bbccc8;
    
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--cyan);
    --bs-btn-active-border-color: var(--cyan);
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: 2px solid var(--cyan);
    border-radius: 0;
    transition: var(--bs-navbar-toggler-transition);
}



/* header */
.carousel-image{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3); 
}
.carousel-title{
    font-size: 50px;
}
.carousel-caption{
    min-height: 100%;
 } 

.btn-read{
    background-color: var(--cyan);
    color: #fff;
    border-radius: 0%;
    height: 50px;
    width: 175px;
}
.btn-read:hover{
    background-color: var(--cyan);
    color: #fff;
    transform: scale(1.1);
}

.btn-main{
    display:flex;
    flex-wrap: wrap;
}
.btn-join{
    background-color: #fff;
    color: black;
    border-radius: 0%;
    height: 50px;
    width: 175px;
    display: inline;
}
.btn-join:hover{
    background-color: #fff;
    color: black;
    transform: scale(1.1);
}




/* section1 */
.box{
    height: 250px;
    width: 270px;
    background-color: #06bbcc2f;
    border: 2px solid #06bbcc2f;
    margin: 30px;
    padding: 15px;
}
.box:hover{
    color: var(--light);
    background-color: var(--cyan);    
}
.color-logo:hover{
    color: var(--light);
}

/* .img-box{
    height: 10px;
    margin: 2px solid black;
} */

.img-fluid{
    max-width: 100;
    height: auto;
}

.list-learning{
    list-style-type: none;
    padding: 0;
    margin: 0;
}



